<style>
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
  </style>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  </style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-img class="icons" src="../../assets/icon/nike.png"  ></ion-img>
      <ion-img class="icons" src="../../assets/icon/user.png"  ></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="title">Novidades</h1>
    <div id="sneakers">
      <div id="select">
        <ion-img src="../../assets/theprowler.svg"  ></ion-img>
      </div>
  
      <div class="sneaker">
        <ion-img src="../../assets/air-miles.svg"  ></ion-img>
      </div>
  
      <div class="sneaker">
        <ion-img src="../../assets/adidas.svg"  ></ion-img>
      </div>
    </div>
  
    <div id="main">
      <ion-img id="shoe" src="../../assets/prowler.svg"  ></ion-img>
    </div>
  
    <div class="holtwood-one-sc-regular">
      <h1>The prowler sneakers 2024</h1>
    </div>
  
  <div class="istok-web-regular">
    <p>O Air Jordan combina qualidade superior, conforto excepcional e um design único, tornando-se uma escolha perfeita para quem busca um tênis estiloso, durável e versátil para o dia a dia. </p>
  </div>
    
  <div id="price">
  <h2>Preço</h2>
  <h1 class="holtwood-one-sc-regular">$800</h1>
  <div id="buttons">
    <ion-img class="btnicon" src="../../assets/share.png"  ></ion-img>
    <ion-img class="btnicon" src="../../assets/shopping-bag.png"  ></ion-img>
  </div>
  </div>

</ion-content>
