<style>
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
  </style>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  </style>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>homePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
    <div id="simbol"> 
      <ion-img id="nike" src="../../assets/icon/nike.png"  ></ion-img>
  </div>
  
  <div id="sneakers"> 
    <ion-img id="shoe" src="../../assets/tenis-misterioso.svg"  ></ion-img>
  </div>
  
  <div class="holtwood-one-sc-regular">
    Comming soon
  </div>
  
  <div class="istok-web-regular">
  <p> 
    Na escuridão da noite, uma lenda urbana ganha vida.
    Em becos escuros e ruas desertas, sussurros de um tênis misterioso ecoam entre os amantes de basquete. Dizem que ele é feito de materiais tão raros e exóticos que apenas os mais sortudos e habilidosos podem colocá-lo em seus pés. </p>
  </div>
  
</ion-content>
